.pagina-inicial-uZf {
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 4.4rem;
    position: relative;
    width: 100%;
  
    .auto-group-s44m-79w {
      align-items: center;
      background-color: rgba(224, 202, 10, 0.7599999905);
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 13.2rem;
      padding: 1.3rem 2.1rem 1.3rem 3.3rem;
      width: 100%;
  
      .rebootcomicstore-removebg-preview-1-Bfb {
        flex-shrink: 0;
        height: 10.6rem;
        margin-right: 4.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 19.8rem;
      }
      .auto-group-2dkh-soK {
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.8rem;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: calc(100% - 4.4rem);
        margin: 2.4rem 4.5rem 2rem 0rem;
        padding: 0.5rem 0.4rem 0.5rem 2.2rem;
  
        .pesquisa-em-toda-loja-MyP {
          color: #000000;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 100;
          line-height: 1.2125;
          margin: 0.2rem 38.8rem 0rem 0rem;
          white-space: nowrap;
        }
        .auto-group-gynz-23w {
          background-color: #d9d9d9;
          border-radius: 0.8rem;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          padding: 1.4rem;
  
          .material-symbols-search-xCV {
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.4rem;
          }
        }
      }
      .auto-group-z51o-2CM {
        flex-shrink: 0;
        height: calc(100% - 5.8rem);
        margin: 3.1rem 5rem 2.7rem 0rem;
        position: relative;
        width: 14.1rem;
  
        .fluent-inprivate-account-28-filled-voX {
          cursor: pointer;
          height: 4.8rem;
          left: 9.3rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 4.8rem;
        }
        .entrar-eDj {
          color: #000000;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 2rem;
          left: 4.9rem;
          line-height: 1.2125;
          position: absolute;
          top: 0.6rem;
          white-space: nowrap;
          width: 4.6rem;
        }
        .minha-conta-Kqf {
          color: #000000;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 2rem;
          left: 0;
          line-height: 1.2125;
          position: absolute;
          top: 2.6rem;
          white-space: nowrap;
          width: 9.6rem;
        }
      }
      .auto-group-ans1-2k5 {
        flex-shrink: 0;
        height: calc(100% - 6.7rem);
        margin: 3.8rem 0.3rem 2.9rem 0rem;
        position: relative;
        width: 6.1rem;
  
        .meus-xdj {
          color: #000000;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 2rem;
          left: 1.7rem;
          line-height: 1.2125;
          position: absolute;
          top: 0;
          white-space: nowrap;
          width: 4.2rem;
        }
        .pedidos-GuK {
          color: #000000;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 2rem;
          left: 0;
          line-height: 1.2125;
          position: absolute;
          top: 1.9rem;
          white-space: nowrap;
          width: 6.1rem;
        }
      }
      .majesticons-paper-fold-text-line-bAu {
        cursor: pointer;
        flex-shrink: 0;
        height: 4.8rem;
        margin: 0.4rem 5rem 0rem 0rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
      }
      .auto-group-oxev-6dT {
        flex-shrink: 0;
        height: calc(100% - 5.8rem);
        margin: 3.1rem 0rem 2.7rem 0rem;
        position: relative;
        width: 10.7rem;
  
        .icon-park-shopping-cart-one-pJZ {
          cursor: pointer;
          height: 4.8rem;
          left: 5.9rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 4.8rem;
        }
        .meu-YVT {
          color: #000000;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 2rem;
          left: 1.6rem;
          line-height: 1.2125;
          position: absolute;
          top: 0;
          white-space: nowrap;
          width: 3.3rem;
        }
        .carrinho-TcR {
          color: #000000;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 2rem;
          left: 0;
          line-height: 1.2125;
          position: absolute;
          top: 1.9rem;
          white-space: nowrap;
          width: 6.5rem;
        }
      }
    }
    .auto-group-8okr-Mxh {
      align-items: flex-start;
      display: flex;
      flex-shrink: 0;
      height: 76.3rem;
      margin-bottom: 1.9rem;
      width: 100%;
  
      .auto-group-puqp-6vH {
        flex-shrink: 0;
        height: 100%;
        margin-right: 18.1rem;
        position: relative;
        width: 144.1rem;
  
        .rectangle-3-34q {
          background-color: #000000;
          height: 9.1rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 144.1rem;
        }
        .rectangle-6-a4m {
          background-color: #e0cb0a;
          border-radius: 0.5rem;
          height: 6.9rem;
          left: 15.1rem;
          position: absolute;
          top: 1rem;
          width: 12.5rem;
        }
        .rectangle-7-VxR {
          background-color: #000000;
          border-radius: 0.5rem;
          cursor: pointer;
          height: 6.5rem;
          left: 15.3rem;
          position: absolute;
          top: 1.2rem;
          width: 12.1rem;
        }
        .svg-spinners-blocks-scale-2xM {
          height: 2.3rem;
          left: 17.45rem;
          object-fit: contain;
          position: absolute;
          top: 3.25rem;
          vertical-align: top;
          width: 2.3rem;
        }
        .redes-Yvh {
          color: #e0cb0a;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 700;
          height: 2rem;
          left: 20.5rem;
          line-height: 1.2125;
          position: absolute;
          top: 3.5rem;
          white-space: nowrap;
          width: 4.9rem;
        }
        .solar-rocket-2-outline-T25 {
          height: 4.0314rem;
          left: 39.5241rem;
          object-fit: contain;
          position: absolute;
          top: 2.6344rem;
          vertical-align: top;
          width: 3.852rem;
        }
        .simple-icons-dcentertainment-Zqo {
          cursor: pointer;
          height: 4.8rem;
          left: 121.4rem;
          object-fit: contain;
          position: absolute;
          top: 2.1rem;
          vertical-align: top;
          width: 4.8rem;
        }
        .lanamentos-Hmo {
          color: #ffffff;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 700;
          height: 2rem;
          left: 44.6rem;
          line-height: 1.2125;
          position: absolute;
          top: 3.7rem;
          white-space: nowrap;
          width: 10.7rem;
        }
        .marvelcomics-logo-821795df15-seeklogo-1-yed {
          cursor: pointer;
          height: 7.8rem;
          left: 88.4rem;
          object-fit: cover;
          position: absolute;
          top: 0.7rem;
          vertical-align: top;
          width: 11.4rem;
        }
        .rectangle-15-h4q {
          background-color: #e0cb0a;
          border-radius: 1rem;
          height: 18.4rem;
          left: 2.7rem;
          position: absolute;
          top: 49.1rem;
          width: 138.3rem;
        }
        .ant-design-thunderbolt-filled-chb {
          cursor: pointer;
          height: 9rem;
          left: 67.3rem;
          object-fit: contain;
          position: absolute;
          top: 0.5rem;
          vertical-align: top;
          width: 8.6rem;
        }
        .component-1-eeH {
          cursor: pointer;
          height: 34.3rem;
          left: 0;
          position: absolute;
          top: 9.1rem;
          width: 144rem;
  
          .banner-site-homem-formiga-e-a-vespa-1920x370-1-1-bJd {
            height: 34.3rem;
            object-fit: cover;
            vertical-align: top;
            width: 144rem;
          }
        }
        .png-transparent-panini-comics-hd-logo-thumbnail-removebg-preview-1-Jyj {
          height: 36rem;
          left: 79.2rem;
          object-fit: cover;
          position: absolute;
          top: 40.3rem;
          vertical-align: top;
          width: 36rem;
        }
        .em-parceria-com--1NM {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 800;
          height: 5.9rem;
          left: 28.9rem;
          line-height: 1.2125;
          position: absolute;
          top: 55.4rem;
          white-space: nowrap;
          width: 47.3rem;
        }
      }
      .auto-group-kjsx-6Po {
        flex-shrink: 0;
        height: 11.8rem;
        margin-top: 12.7rem;
        position: relative;
        width: 77.6rem;
  
        .rectangle-4-EF7 {
          background-color: #ff0000;
          height: 11.8rem;
          left: 10.4rem;
          position: absolute;
          top: 0;
          width: 67rem;
        }
        .para-achar-os-ttulos-por-categoria-formatopreoautor-e-editora-xwo {
          color: #ffffff;
          font-family: Comic Sans MS, 'Source Sans Pro';
          font-size: 1.1rem;
          font-style: italic;
          font-weight: 700;
          height: 1.4rem;
          left: 0;
          line-height: 1.2575;
          position: absolute;
          text-align: center;
          top: 8.5rem;
          white-space: nowrap;
          width: 31.5rem;
        }
        .marvelcomics-logo-821795df15-seeklogo-2-qEu {
          height: 6.4rem;
          left: 10.4rem;
          object-fit: cover;
          position: absolute;
          top: 1.3rem;
          vertical-align: top;
          width: 10.8rem;
        }
        .unsplash-lspudv6iwsy-x4d {
          height: 11.8rem;
          left: 21.2rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 56.4rem;
        }
        .utilize-os-filtros-UYm {
          color: #ffffff;
          font-family: Comic Sans MS, 'Source Sans Pro';
          font-size: 1.4rem;
          font-style: italic;
          font-weight: 700;
          height: 1.8rem;
          left: 11.8rem;
          line-height: 1.2575;
          position: absolute;
          top: 7.1rem;
          white-space: nowrap;
          width: 12.2rem;
        }
      }
    }
    .lanamentos-MMf {
      color: #000000;
      cursor: pointer;
      flex-shrink: 0;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2125;
      margin-right: 1.3rem;
      white-space: nowrap;
    }
    .auto-group-1dwj-GzR {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 13rem 0rem 0rem 0.1rem;
      width: 100%;
  
      .auto-group-umux-NXf {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 36.7rem;
        margin: 0rem 15.2rem 10.2rem 16.3rem;
        width: calc(100% - 31.5rem);
  
        .auto-group-6erj-goF {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 4.1rem 1.1rem 1.6rem 0.9rem;
          width: 23rem;
  
          .image-1-oN5 {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.7rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .arlequina-edio-especial-KrD {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.6rem;
            white-space: nowrap;
          }
          .r-2990-Sfw {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0.2rem;
            white-space: nowrap;
          }
        }
        .auto-group-1kxy-x8V {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 4.1rem 4rem 1.6rem 3.9rem;
          width: 23rem;
  
          .item-1680656276842-1-U6q {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0.1rem 1.7rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .batman-especial-11-NT7 {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.6rem;
            white-space: nowrap;
          }
          .r-3990-5cR {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0.2rem;
            white-space: nowrap;
          }
        }
        .auto-group-seq3-BfT {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 4.1rem 2rem 1.4rem 2rem;
          width: 23rem;
  
          .image-3-uLZ {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.7rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .guardies-da-galxia-19-2RB {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.8rem;
            white-space: nowrap;
          }
          .r-3690-x3w {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0.9rem;
            white-space: nowrap;
          }
        }
        .auto-group-fxw9-sAu {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          padding: 4.1rem 2.6rem 1.2rem 2.5rem;
          width: 23rem;
  
          .image-4-nof {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.7rem 0.1rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .quarteto-fantstico-11-86q {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 2rem;
            white-space: nowrap;
          }
          .r-3690-eqs {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0rem;
            white-space: nowrap;
          }
        }
      }
      .png-transparent-logo-marvel-comics-marvel-entertainment-marvel-studios-others-comics-avengers-text-removebg-preview-1-AJR {
        cursor: pointer;
        flex-shrink: 0;
        height: 22rem;
        margin: 0rem 1.5rem 11.7rem 0rem;
        object-fit: cover;
        vertical-align: top;
        width: 51.2rem;
      }
      .auto-group-fhc9-qQZ {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 36.7rem;
        margin: 0rem 14.4rem 10.2rem 17.1rem;
        width: calc(100% - 31.5rem);
  
        .auto-group-q1ft-kGd {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 4rem 4.2rem 1.8rem 4.2rem;
          row-gap: 1.6rem;
          width: 23rem;
  
          .x632-1-ecu {
            flex-shrink: 0;
            height: 22.7rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .x-men-60-anos-PaV {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-right: 0rem;
            white-space: nowrap;
          }
          .r-1990-vqK {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-right: 0.3rem;
            white-space: nowrap;
          }
        }
        .auto-group-tkx3-F6u {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 7rem;
          padding: 4rem 0.7rem 1.5rem 0.7rem;
          width: 23rem;
  
          .actionfigurehomemaranhaspidermanclassicsuitmarvelspidermanps4escala16hottoysmkp1059591e86b0daa6d064520f755771029033989-1-xn1 {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.8rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .hot-toys-spider-man-nwh-EDj {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.7rem;
            white-space: nowrap;
          }
          .r-269999-N53 {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
        .auto-group-43t3-grR {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.6rem;
          padding: 4rem 1.7rem 1.2rem 1.5rem;
          width: 23rem;
  
          .x625-1-cVB {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0.2rem 2.3rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .vingadores-eternamente-LRB {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.5rem;
            white-space: nowrap;
          }
          .r-13990-UGV {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0.1rem;
            white-space: nowrap;
          }
        }
        .auto-group-tmyx-PPT {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          padding: 4rem 2.8rem 1.7rem 3.2rem;
          width: 23rem;
  
          .x624-1-K2D {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.7rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .x-men-ed-estendida-EQ5 {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.6rem;
            white-space: nowrap;
          }
          .r-6090-mQ1 {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0rem;
            white-space: nowrap;
          }
        }
      }
      .auto-group-ugud-UJR {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 36.7rem;
        margin: 0rem 14.2rem 8.6rem 17.3rem;
        width: calc(100% - 31.5rem);
  
        .auto-group-rzhj-ByX {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 4.7rem 1.7rem 1.2rem 1.5rem;
          width: 23rem;
  
          .x625-2-VzD {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.6rem 0.2rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .vingadores-eternamente-dKj {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.5rem;
            white-space: nowrap;
          }
          .r-13990-N2R {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0.1rem;
            white-space: nowrap;
          }
        }
        .auto-group-qht3-5Sd {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 4.7rem 3.4rem 1.1rem 3.1rem;
          row-gap: 1.6rem;
          width: 23rem;
  
          .x624-auB {
            flex-shrink: 0;
            height: 22.7rem;
            margin-left: 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.5rem;
          }
          .aventuras-marvel-02-Krm {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            white-space: nowrap;
          }
          .r-990-ffj {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-right: 1.4rem;
            white-space: nowrap;
          }
        }
        .auto-group-zdgh-CQm {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 4.7rem 2.8rem 1rem 3.1rem;
          width: 23rem;
  
          .x624-itu {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.7rem 0.1rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .a-saga-dos-x-men-09-T5o {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.6rem;
            white-space: nowrap;
          }
          .r-3990-z5j {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
        .auto-group-eid3-VHP {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          padding: 4.7rem 4.2rem 1.5rem 4.2rem;
          row-gap: 1.4rem;
          width: 23rem;
  
          .x613-1-zjw {
            flex-shrink: 0;
            height: 22.7rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .x-men-schism-YFf {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-right: 0.1rem;
            white-space: nowrap;
          }
          .r-19192-5WV {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0.5rem;
            white-space: nowrap;
          }
        }
      }
      .download-removebg-preview-1-ztM {
        cursor: pointer;
        flex-shrink: 0;
        height: 26.4rem;
        margin: 0rem 0rem 8.6rem 1rem;
        object-fit: cover;
        vertical-align: top;
        width: 28.1rem;
      }
      .auto-group-nrqy-7TB {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 36.7rem;
        margin: 0rem 15.1rem 10.2rem 16.4rem;
        width: calc(100% - 31.5rem);
  
        .auto-group-1lgm-RTs {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 3.7rem 0rem 1.9rem 0.4rem;
          row-gap: 1.7rem;
  
          .x638-1-jjT {
            flex-shrink: 0;
            height: 22.7rem;
            margin-right: 0.3987rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.8013rem;
          }
          .a-saga-da-liga-da-justia-08-g8u {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            white-space: nowrap;
          }
          .r-3690-oUR {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0.1rem;
            white-space: nowrap;
          }
        }
        .auto-group-reh3-7k1 {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 3.7rem 4.2rem 2rem 4.2rem;
          width: 23rem;
  
          .x639-1-diM {
            flex-shrink: 0;
            height: 22.7rem;
            margin-bottom: 1.7rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .batman-02-LMs {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin: 0rem 0rem 1.6rem 0.6rem;
            white-space: nowrap;
          }
          .r-2790-TSV {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0.2rem;
            white-space: nowrap;
          }
        }
        .auto-group-ammf-mi5 {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 3.7rem 0.4rem 2.1rem 0.3rem;
          row-gap: 1.6rem;
          width: 23rem;
  
          .x636-1-UcV {
            flex-shrink: 0;
            height: 22.7rem;
            margin-left: 0.1478rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.8478rem;
          }
          .batman-gotham-knights-06-R1w {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            white-space: nowrap;
          }
          .r-1490-wW5 {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-right: 0.3rem;
            white-space: nowrap;
          }
        }
        .auto-group-zuvy-4ah {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          padding: 3.7rem 0.8rem 2.2rem 1.1rem;
          width: 23rem;
  
          .x643-1-zDT {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0.214rem 1.8rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6862rem;
          }
          .batman-a-hora-da-morte-2-Whb {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.3rem;
            white-space: nowrap;
          }
          .r-2490-3hX {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-right: 0.4rem;
            white-space: nowrap;
          }
        }
      }
      .auto-group-jd1p-B33 {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 36.7rem;
        margin: 0rem 15.1rem 4.9rem 16.6rem;
        width: calc(100% - 31.7rem);
  
        .auto-group-vmwu-VZX {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 3.7rem 3.8rem 2.2rem 4.1rem;
          width: 23rem;
  
          .item-1680656276842-2-QwP {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0.345rem 1.6rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.755rem;
          }
          .batman-especial-11-86h {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.5rem;
            white-space: nowrap;
          }
          .r-3690-s4H {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-right: 0.4rem;
            white-space: nowrap;
          }
        }
        .auto-group-eu5j-z8u {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.8rem;
          padding: 3.7rem 4.2rem 1.6rem 2.6rem;
          width: 23rem;
  
          .x629-1-JfP {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.9rem 1.6rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .dc-vs-vampiros-01-pdj {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin: 0rem 0.9rem 1.8rem 0rem;
            white-space: nowrap;
          }
          .r-7490-k1b {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 1.5rem;
            white-space: nowrap;
          }
        }
        .auto-group-wzjy-4Y5 {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 6.6rem;
          padding: 3.7rem 2rem 2.2rem 2rem;
          width: 23rem;
  
          .x646-1-Bsb {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.9rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .batman-e-superman-04-vaH {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.2rem;
            white-space: nowrap;
          }
          .r-3690-TaD {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-right: 0.1rem;
            white-space: nowrap;
          }
        }
        .auto-group-yiey-nMb {
          align-items: center;
          background-color: #e2e2e2;
          border-radius: 1.5rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          padding: 4.1rem 1.1rem 1.6rem 0.9rem;
          width: 23rem;
  
          .image-6-WHb {
            flex-shrink: 0;
            height: 22.7rem;
            margin: 0rem 0rem 1.7rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 14.6rem;
          }
          .arlequina-edio-especial-2Wq {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.6rem;
            white-space: nowrap;
          }
          .r-2990-xfP {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-left: 0.2rem;
            white-space: nowrap;
          }
        }
      }
      .auto-group-n3wt-Utd {
        flex-shrink: 0;
        height: 28.8rem;
        margin: 0rem 2.9rem 3.8rem 2.9rem;
        position: relative;
        width: calc(100% - 5.8rem);
  
        .png-transparent-explosion-cartoon-fashion-explosion-cartoon-fashion-removebg-preview-1-Q1b {
          height: 28.8rem;
          left: 40.2rem;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 55.6rem;
        }
        .rectangle-17-W4d {
          background-color: #ca0fe9;
          border-radius: 1rem;
          height: 4.6rem;
          left: 52.4rem;
          position: absolute;
          top: 11.7rem;
          width: 33.3rem;
        }
        .rectangle-11-RhP {
          border-radius: 1rem;
          height: 25.5rem;
          left: 87.9rem;
          object-fit: cover;
          position: absolute;
          top: 1.9rem;
          vertical-align: top;
          width: 50.2rem;
        }
        .rectangle-16-kUm {
          border-radius: 1rem;
          height: 25.5rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 1.9rem;
          vertical-align: top;
          width: 50.2rem;
        }
        .os-leitores-indicam-h97 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 700;
          height: 3.9rem;
          left: 54.1rem;
          line-height: 1.2125;
          position: absolute;
          top: 12rem;
          white-space: nowrap;
          width: 30rem;
        }
        .rectangle-48-19o {
          background-color: #35b4ea;
          height: 6.9rem;
          left: 114.4rem;
          position: absolute;
          top: 18.3rem;
          width: 22.4rem;
        }
        .rectangle-49-kNH {
          background-color: #e8b227;
          height: 6.9rem;
          left: 26.8rem;
          position: absolute;
          top: 18.3rem;
          width: 22.4rem;
        }
      }
      .auto-group-uhl1-ueV {
        align-items: center;
        background-color: rgba(224, 202, 10, 0.7599999905);
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: 13.2rem;
        margin-left: 0rem;
        padding: 3.9rem 15.6rem 3.8rem 15.8rem;
        width: 144rem;
  
        .vector-R73 {
          flex-shrink: 0;
          height: 5.4rem;
          margin: 0rem 3.1rem 0.1rem 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.6rem;
        }
        .auto-group-qyfw-8XF {
          flex-shrink: 0;
          height: calc(100% - 1.1rem);
          margin: 0.5rem 1.5rem 0.6rem 0rem;
          position: relative;
          width: 23.6rem;
  
          .promoes-e-novidades-TJd {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 800;
            height: 2.5rem;
            left: 0;
            line-height: 1.2125;
            position: absolute;
            top: 1.9rem;
            white-space: nowrap;
            width: 23.6rem;
          }
          .fique-por-dentro-das-Z6m {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            height: 2.5rem;
            left: 0;
            line-height: 1.2125;
            position: absolute;
            top: 0;
            white-space: nowrap;
            width: 20.3rem;
          }
        }
        .vector-fQh {
          flex-shrink: 0;
          height: 2.7rem;
          margin: 0rem 3.8rem 0.2rem 0rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.5rem;
        }
        .auto-group-1h8q-Q7P {
          background-color: #ffffff;
          border-radius: 0.8rem;
          box-sizing: border-box;
          color: #848484;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 200;
          line-height: 1.2125;
          margin: 0.3rem 6.8rem 0rem 0rem;
          padding: 1.5rem 0.5rem 1.8rem 0.5rem;
          white-space: nowrap;
          width: 42.7rem;
        }
        .auto-group-9epm-fZ7 {
          align-items: center;
          background-color: #ca0fe9;
          border-radius: 1.5rem;
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.2rem;
          font-weight: 800;
          height: 5.4rem;
          justify-content: center;
          line-height: 1.2125;
          margin-bottom: 0.1rem;
          white-space: nowrap;
          width: 23rem;
        }
      }
      .item-2023-04-05-1-1-KtZ {
        flex-shrink: 0;
        height: 18.3rem;
        margin: 0rem 0rem 7rem 0rem;
        object-fit: contain;
        vertical-align: top;
        width: 173.9rem;
      }
      .auto-group-6lhb-SyB {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 22rem;
        margin: 0rem 0rem 8.75rem 4.6rem;
  
        .auto-group-3m2d-yiD {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          padding: 1.2rem 4.793rem 1.8rem 0rem;
  
          .brand-icon-1-KGH {
            flex-shrink: 0;
            height: 19rem;
            margin-right: 3.8rem;
            object-fit: cover;
            vertical-align: top;
            width: 19rem;
          }
          .a-reboot-comic-store-uma-livraria-especializada-em-quadrinhos-e-mangs-e-outros-artigos-nerds-e-geeks-desde-2012-trazemos-para-o-mercado-local-um-acervo-grande-e-atualizado-disponvel-em-duas-lojas-bem-localizadas-em-pinheiros-sp-Ffj {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
            margin-top: 0.1rem;
            max-width: 52.7rem;
          }
        }
        .line-1-r9j {
          background-color: #000000;
          flex-shrink: 0;
          height: 22rem;
          width: 0.1rem;
        }
        .auto-group-pj29-CDb {
          align-items: flex-start;
          box-sizing: border-box;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          padding: 0rem 0rem 0rem 4.007rem;
  
          .auto-group-wpcm-vfP {
            flex-shrink: 0;
            height: 6rem;
            margin: 1.2rem 3.8rem 0rem 0rem;
            object-fit: contain;
            position: relative;
            vertical-align: top;
            width: 4rem;
          }
          .praa-benedito-calixto-158-1-andar-pinheiros-so-paulo-sp-qnM {
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
            margin: 1.2rem 7.7rem 0rem 0rem;
            max-width: 36.2rem;
          }
          .ic-outline-email-X9P {
            flex-shrink: 0;
            height: 2.4rem;
            overflow: hidden;
            position: relative;
            width: 2.4rem;
          }
        }
      }
      .line-2-Fr5 {
        background-color: #000000;
        flex-shrink: 0;
        height: 0.1rem;
        margin-bottom: 7.65rem;
        width: 144rem;
      }
      .auto-group-fwl1-CWR {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        margin: 0rem 56.3rem 7.7rem 56.4rem;
        width: calc(100% - 112.7rem);
  
        .vector-XYh {
          flex-shrink: 0;
          height: 7rem;
          margin-right: 5.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 7rem;
        }
        .mdi-pinterest-5KK {
          flex-shrink: 0;
          height: 7rem;
          margin-right: 5.1667rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.8333rem;
        }
        .vector-p21 {
          flex-shrink: 0;
          height: 7rem;
          object-fit: contain;
          vertical-align: top;
          width: 7rem;
        }
      }
      .auto-group-krw5-LW9 {
        border-top: solid 0.1rem #000000;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 5.8rem;
        position: relative;
        width: 144rem;
  
        .rectangle-45-UsF {
          background-color: #d9d9d9;
          cursor: pointer;
          height: 5.8rem;
          left: 0rem;
          position: absolute;
          top: 0;
          width: 144rem;
        }
        .todos-os-direitos-reservados-pRK {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 500;
          height: 3rem;
          left: 58.3rem;
          line-height: 1.2125;
          position: absolute;
          top: 1.4rem;
          white-space: nowrap;
          width: 33.9rem;
        }

        
      }
    }
  }
  
